*.DS_Store
*.obj
*.pdb
*.suo
*.user
*.cache
*.orig
*.iws
*.log
*.pyc
*.py~
*.map
*.pid
*.resharper
*.csproj.ReSharper
*.map
_ReSharper.*
.git
.hgignore
.hgrc

bin/
obj/
tmp/
.idea/
App_Data/*
.vs/*

packages

cliArgsTest/bin/Debug/*
cliArgsTest/obj/Debug/*